//https://medium.com/@mollyseeley/a-simple-react-native-navigation-drawer-ba10fc203ad
html,
body {
  height: 100%;
}

.Analytics{
  background-color: #DCDDDF;
}

.container{
  background-color: #2C344B;
  position:absolute;
  top: 0px;
  bottom:0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0;
}

