body {
 
}

.Header {
    /* background-image: url("orange.jpg"); */
    //background-color: #002f4d;
    background: #fff;
    height: 85vh;
    text-align: left;
    overflow: hidden;
    position: relative;
    justify-content: left!important;
    font-family: 'Questrial', sans-serif;
}

.Hero {
    margin-top: 15vh;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 5%;
}

.Scene {

}
.links a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.Introduction a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

hr { 
    display: solid;
    border-width: 100px;
    color: white;
}

.Introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Introduction {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
}

.Title{
    color: #F07C00;
}