.cardImg {
  height: 15rem;
  object-fit: cover;
}

.noDecoration,
.noDecoration:hover {
  text-decoration: none;
  color: black;
}

.orange {
  color: #f07c00;
}

.Scrollbox {
  overflow-y: scroll;
  height: 75vh;
  border: thin;
  border-style: solid;
  border-color: grey;
  padding: 20px;
  padding-top: 20px;
  border-radius: 15px;
}

.hoverCard {
  transition: all 0.3s ease;
  transform: translateY(10px);
  backface-visibility: hidden;
  min-width: 360px !important;
  max-width: 360px;
  margin: 10px !important;
}

.hoverCard:hover {
  transform: translateY(0);
  cursor: pointer;
}

.ticketButton {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  float: right;
}
