.Container {
  top: 8vh;
  padding: 25px;
}

.tab{
  cursor: pointer;
  /*Makes text non-selectable*/
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.Scrollbox {
  overflow-y: scroll;
  height: 63vh;
  border: thin;
  border-style: solid;
  border-color: grey;
  padding: 20px;
  padding-top: 20px;
  border-radius: 15px;
}